@model List<Practica2.Models.TableViewModels.PeliculasTableViewModel>

@{
    ViewBag.Title = "Peliculas";
}

<h2>@ViewBag.Title</h2>

<button type="button" class="btn btn-info" onclick="document.location.href = '@Url.Content("~/Peliculas/Nuevo/")'">Nuevo</button>
<br />
<br />

<div class="row">
    <div class="col-lg-6">
        <table class="table table-striped">
            <tr class="bg-info">
                <th>ID</th>
                <th>Titulo</th>
                <th>Duracion</th>
                <th>Genero</th>
                <td></td>
                <td></td>
            </tr>
            @foreach (var oPeliculas in Model)
            {
                <tr>
                    <th>@oPeliculas.Id</th>
                    <td>@oPeliculas.Titulo</td>
                    <td>@oPeliculas.Duracion</td>
                    <td>@oPeliculas.Genero</td>
                    <td><button type="button" class="btn btn-info" onclick="document.location.href = '@Url.Content("~/Peliculas/Editar/" + oPeliculas.Id)'">Editar</button></td>
                    <td><button type="button" class="btn btn-danger" onclick="document.location.href = '@Url.Content("~/Peliculas/Eliminar/" + oPeliculas.Id)'">Eliminar</button></td>
                </tr>
            }
        </table>
    </div>
</div>